Package: selenium-server
Version: 2.0b3
Section: devel
Priority: extra
Architecture: all
Depends: xvfb, daemon, adduser, psmisc, java2-runtime
Maintainer: Floréal Toumikian <ftoumikian@april.org>
Description: Selenium remote control server
