Package: selenium-server
Version: %VERSION%
Section: devel
Priority: extra
Architecture: all
Depends: xvfb, daemon, default-jre-headless
Maintainer: Floréal Toumikian <ftoumikian@april.org>
Description: Selenium remote control server
